<h1>Listing Weeks</h1>

<table class="table">
	<tr>
		<th>Start</th>
		<th>Color</th>
	</tr>
	<% @weeks.each do |week| %>
		<tr>
			<td><%= week.start_day %></td>
			<td><%= week.color %></td>
			<td><%= link_to 'Edit', edit_week_path(week) %></td>
			<td><%= link_to 'Destroy', week_path(week), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'New Week', new_week_path %>
