<%= form_for :week, url: weeks_path do |f| %>
	<p>
		<%= f.label :color %><br />
		<%= f.text_field :color %>
	</p>
	<p>
		<%= f.label :start_day %><br />
		<%= f.date_field :start_day %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
